@charset "UTF-8";
/*変数*/
/*第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力*/
/*共通*/
html {
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-size: 10px;
}

*, *:before, *:after {
-webkit-box-sizing: inherit;
box-sizing: inherit;
}

body {
font-family: "AdobeGaramondW01-Regula", Garamond, "本明朝-M 新がな", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", YuMincho, "游明朝", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
line-height: 1.6;
letter-spacing: 0;
color: #000;
font-size: 16px;
}

a {
-webkit-tap-highlight-color: transparent;
text-decoration: none;
-webkit-transition: all 0.5s ease 0s;
-o-transition: all 0.5s ease 0s;
transition: all 0.5s ease 0s;
color: #555;
}

a:hover {
opacity: 0.5;
filter: alpha(opacity=80);
-moz-opacity: 0.3;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
-o-transition: 0.3s ease-in-out;
transition: 0.3s ease-in-out;
}

.link-gold:hover {
color: #a5854a;
opacity: 1;
}

img {
max-width: 100%;
}

.wrapper {
position: relative;
}

.container {
max-width: 1200px;
margin: 0 auto 100px;
overflow: hidden;
}

.result {
opacity: 0;
}

.loading {
left: 50%;
top: 50%;
position: fixed;
}

/*gnav*/
.gnav-link {
color: #555;
}

.gnav-link-sns {
color: #555;
}

.gnav-link:hover {
opacity: 1;
}

.gnav {
padding: 10px 0;
}

.gnav-item-fb {
margin: 0 15px;
}

.gnav-item-inst {
margin: 0 15px;
}

.gnav-link-icon-tw:before {
content: '\f099';
font-size: 2em;
}

.gnav-link-icon-fb:before {
content: '\f09a';
font-size: 2em;
}

.gnav-link-icon-ig:before {
content: '\f16d';
font-size: 2em;
display: flex;
justify-content: center;
align-items: center;
width: 30px;
height: 30px;
}

.gnav-link-tw:hover {
opacity: inherit;
}

.gnav-link-fb:hover {
opacity: inherit;
}

.gnav-link-ig:hover {
opacity: inherit;
}

.gnav-link-icon-tw {
-webkit-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}

.gnav-link-icon-fb {
-webkit-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}

.gnav-link-icon-ig {
-webkit-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
border-radius: 8px;
}

.gnav-link-icon-tw:hover {
color: #00aced;
opacity: inherit;
}

.gnav-link-icon-fb:hover {
color: #3b5998;
opacity: inherit;
}

.gnav-link-icon-ig:hover {
opacity: inherit;
font-weight: normal;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
border-radius: 8px;
background-image: -webkit-linear-gradient(225deg,#1400c8,#b900b4,#f50000);
background-image: -o-linear-gradient(225deg,#1400c8,#b900b4,#f50000);
background-image: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
-webkit-transition: all .25s ease-in-out;
-ms-transition: all .25s ease-in-out;
-o-transition: all .25s ease-in-out;
transition: all .25s ease-in-out;
}

.gnav-link-sns {
color: #555;
}

.gnav-boder {
border-right: 1px solid rgba(0, 0, 0, 0.1);
margin: 0 15px;
}

.gnav-block {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
}

.gnav-item {
font-weight: bold;
}

header {
margin: 30px 0;
padding: 0 10px;
}

header .inner {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

header nav {
margin-right: -15px;
}

header nav ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
}

header nav ul li a {
color: #555;
text-decoration: none;
}

#main_img {
max-width: 960px;
margin: 0 auto;
}

#nav_toggle {
display: none;
}

.change_btn {
color: #fff;
display: block;
width: 100%;
text-decoration: none;
border: 1px solid #fff;
text-align: center;
padding: 25px 0;
font-size: 20px;
margin-top: 40px;
}

.custom-logo {
width: 60%;
height: 100%;
}

/*slider*/
.js-slider {
margin-bottom: 70px !important;
}

.slick-dots li button:before {
font-size: 23px !important;
}

/* wrapper-content */
.wrapper-content {
padding: 0 10px;
}

/*event*/
.event-ttl {
margin-bottom: 20px;
font-size: 18px;
}

.event-img {
margin-bottom: 20px;
}

.event-textBlock-date {
margin-bottom: 5px;
font-size: 13px;
}

.event-textBlock-ttl {
margin-bottom: 5px;
color: #a28449;
}

.event-textBlock-lead {
font-size: 17px;
}

.event-textBlock-name {
font-size: 12px;
}

.event-wrap {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
margin-bottom: 90px;
}

.event-block {
width: calc((100% - 50px) / 2);
}

/*news*/
.news-ttl-sub {
font-size: 11px;
margin-left: 10px;
}

.news-ttl {
font-size: 18px;
margin-bottom: 20px;
}

.news-textBlock-text {
font-size: 13px;
}

.news-textBlock-date {
font-size: 13px;
margin-bottom: 5px;
}

.news-textBlock-ttl {
margin-bottom: 5px;
color: #a28449;
}

.news-textBlock-lead {
margin-bottom: 20px;
line-height: 1.5;
}

.news-img {
margin-bottom: 20px;
}

.post-categories {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

.post-categories li {
padding: 0 10px 0 0;
}


.news-textBlock a:hover {
color: #a5854a;
opacity: 1;
}

/*js-topBtn*/
.js-topBtn {
position: fixed;
bottom: 300px;
right: 10px;
z-index: 100;
}

.topbtn-link {
color: #555;
}

.fa-chevron-circle-up:before {
color: #a5854a;
}

/*footer*/
.footer-block {
background-color: #a5854a;
padding: 60px 40px 40px;
}

.footer-textBlock {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-bottom: 60px;
}

.footer-logo {
margin-right: 40px;
}

.footer-textArea {
color: #fff;
}

.footer-linkBlock {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
color: #fff;
font-size: 12px;
}

.footer-link-boder {
padding: 0 10px;
border-right: 1px solid #fff;
line-height: 2.1;
}

.footer-ttl {
font-size: 16px;
margin-bottom: 15px;
}

.footer-text {
font-size: 14px;
}

.footer-link-en {
padding: 0 10px;
line-height: 2.0;
}

.footer-link {
color: #fff;
}

.footer-footer-LinkWrap {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
color: #fff;
}

.tell-link {
color: #fff;
}

.tell-link:hover {
opacity: inherit;
}

.footer-mail {
margin-left: 20px;
}

/*子ページ*/
.lower-mainttl-wrap {
text-align: center;
margin: 50px 0 50px 0;
}

.lower-mainttl {
font-size: 20px;
color: #a28349;
margin-bottom: 30px;
line-height: 1.2;
}

.lower-mainttl-lead {
line-height: 1.8;
}

/*1columnページ*/
.column01-img {
margin-bottom: 10px;
}

.column01-mainttl {
font-size: 20px;
color: #a28349;
margin-bottom: 10px;
line-height: 1.2;
text-align: center;
}

.column01-block {
margin: 0 20px;
}

.column01-wrap {
margin: 0 auto 50px;
}

.lower-column-wrap {
margin: 0 10px;
}

/*2columnページ*/
.lower-column-block {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin: 0 -10px;
}

.column02-img {
margin-bottom: 10px;
}

.column02-mainttl {
font-size: 20px;
color: #a28349;
margin-bottom: 10px;
line-height: 1.2;
text-align: center;
}

.column02-block {
margin: 0 20px;
}

.column02-wrap {
margin: 0 auto 50px;
}

.lower-column-wrap {
margin: 0 10px;
}

.column02-wrap {
margin: 0 auto 50px;
margin-bottom: 40px;
width: 50%;
padding: 0 10px;
}

/*4columnページ*/
.lower-column-block {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin: 0 -10px;
}

.column04-img {
margin-bottom: 10px;
}

.column04-mainttl {
font-size: 20px;
color: #a28349;
margin-bottom: 10px;
line-height: 1.2;
text-align: center;
}

.column04-block {
margin: 0 20px;
}

.column04-wrap {
margin: 0 auto 50px;
}

.lower-column-wrap {
margin: 0 10px;
}

.column04-wrap {
margin: 0 auto 50px;
margin-bottom: 40px;
width: 25%;
padding: 0 10px;
}


/*768px以上*/
@media screen and (min-width: 768px) {
.lower-mv {
margin: 0 -10px;
}

.column01-wrap {
max-width: 900px;
}
}

/*767px以下*/
@media screen and (max-width: 767px) {
.lower-mv {
margin-top: 80px;
}

.column04-wrap {
width: 50%;
}
}

/*1101px以上*/
@media screen and (min-width: 1101px) {
.tell-link {
cursor: default;
}
}

/*768px以上*/
@media screen and (min-width: 768px) {
.gnav-list {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
color: #555;
font-size: 13px;
}
.gnav-item {
margin: 0 15px;
color: #555;
font-size: 13px;
}

.menu-item {
margin: 0 10px;
}

.news-area {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
margin: 0 -10px;
}

.news-block {
margin-bottom: 40px;
width: 33.333333%;
padding: 0 10px;
}

.gnav-access {
height: 30px;
border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.link-underline {
position: relative;
display: inline-block;
text-decoration: none;
}
.link-underline::after {
position: absolute;
bottom: -5px;
left: 0;
content: '';
width: 100%;
height: 2px;
background: #a5854a;
-webkit-transform: scale(0, 1);
-ms-transform: scale(0, 1);
transform: scale(0, 1);
-webkit-transform-origin: center top;
-ms-transform-origin: center top;
transform-origin: center top;
-webkit-transition: -webkit-transform .3s;
transition: -webkit-transform .3s;
-o-transition: transform .3s;
transition: transform .3s;
transition: transform .3s, -webkit-transform .3s;
}
.link-underline:hover::after {
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
transform: scale(1, 1);
}
.js-fadein {
opacity: 0;
-webkit-transform: translateY(20px);
-ms-transform: translateY(20px);
transform: translateY(20px);
-webkit-transition: all 1s;
-o-transition: all 1s;
transition: all 1s;
}}

/*1100px以下*/
@media screen and (max-width: 1100px) {
.footer-textBlock {
display: block;
text-align: center;
}
.footer-logo {
margin-right: 0px;
margin-bottom: 10px;
}
.footer-text {
font-size: 18px;
font-size: 1.63636vw;
margin-bottom: 5px;
}
.footer-ttl {
font-size: 18px;
font-size: 1.63636vw;
}
.footer-linkBlock {
display: block;
font-size: 18px;
font-size: 1.63636vw;
margin-bottom: 30px;
}
.footer-footer-LinkWrap {
text-align: center;
display: block;
}
.footer-link-boder {
padding: 0px;
border-right: none;
margin-bottom: 10px;
}
.footer-textBlock {
margin-bottom: 40px;
}
.footer-block {
padding: 60px 0px 40px;
}
.footer-link-en {
padding: 0px;
}
.footer-copy {
font-size: 18px;
font-size: 1.63636vw;
}
.js-topBtn {
position: static;
margin: 0 auto;
width: 0%;
margin-bottom: 20px;
}
}

/*767px以下*/
@media screen and (max-width: 767px) {
header {
padding: 16px 0;
position: relative;
}
header nav ul li a {
padding: 16px;
}
.gnav-access {
display: none;
}
.gnav-block {
display: none;
}
.gnav-item li:nth-last-child(5) {
display: none;
}
#main_img {
width: 100%;
}
.change_btn {
width: 90%;
margin: 32px auto;
}
.link-gold:hover {
color: #555;
}
/*メニュー部分*/
nav {
display: none;
position: absolute;
top: 60px;
width: 100%;
background: #fff;
z-index: 1;
padding-bottom: 30px;
}
.gnav-item-sp {
display: block;
margin: 0 auto;
width: 90%;
}
header nav ul li {
margin: 0 auto;
text-align: center;
border-bottom: 1px solid #555;
}
header nav ul li a {
display: block;
}
/*開閉ボタン*/
#nav_toggle {
display: block;
width: 40px;
height: 29px;
position: relative;
top: 0px;
right: 15px;
z-index: 100;
}
.nav_toggle-block {
position: relative;
}
.nav_toggle-item {
display: block;
height: 3px;
background: #555;
position: absolute;
width: 100%;
left: 0;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;
}
.nav_toggle-item:nth-child(1) {
top: 0px;}
.nav_toggle-item:nth-child(2) {
top: 12px;
}
.nav_toggle-item:nth-child(3) {
top: 24px;
}
/*開閉ボタンopen時*/
.open .nav_toggle-item:nth-child(1) {
top: 12px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-ms-transform: rotate(135deg);
transform: rotate(135deg);
}
.open .nav_toggle-item:nth-child(2) {
width: 0;
left: 50%;
}
.open .nav_toggle-item:nth-child(3) {
top: 12px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
transform: rotate(-135deg);
}
.event-block {
width: 100%;
}
.event-wrap {
display: block;
margin: 0 auto 80px;
}
.event-block-sp {
margin-bottom: 40px;
}
.news-wrap {
margin: 0 auto 50px;
}
.news-block {
width: 100%;
}
.news-area {
display: block;
}
.news-block-sp {
margin-bottom: 50px;
}
.footer-linkBlock {
font-size: 26px;
font-size: 2.36364vw;
}
.footer-copy {
font-size: 26px;
font-size: 2.36364vw;
}
.footer-text {
font-size: 26px;
font-size: 2.36364vw;
}
.footer-ttl {
font-size: 26px;
font-size: 2.36364vw;
}
a:hover {
opacity: inherit;
}
.slick-dots li {
margin: 0px !important;
}
header {
padding: 0;
margin: 0;
}
header .inner {
position: fixed;
z-index: 999;
background-color: #fff;
width: 100%;
height: 100px;
}

.slick-slide img {
display: block;
height: 500px;
object-fit: cover;
}

.slick-slider {
margin-top: 80px;
}
.container {
padding: 0;
margin: 0;
}
.wrapper-content {
width: 100%;
margin: 0 auto;
}
.wrapper-sp-category {
margin: 90px auto 0;
}
.header-logo {
padding-left: 10px;
}
a {
text-decoration: underline;
}
.gnav-item {
display: block;
margin: 0 auto;
}
.gnav-content-item {
display: block;}
}

/*320px以下*/
@media screen and (max-width: 320px) {
header nav ul {
font-size: 11px;
}
header nav ul li a {
padding: 12px;
}
}

/*WP*/
.nLinkTag {
margin-right: 10px;
}

/* contact form */
/* 必須マーク */
.must{
color: #fff;
margin-right: 10px;
padding: 6px 10px;
background: #F92931;
border-radius: 20px;
}

/* 任意マーク */
.free {
color: #fff;
margin-right: 10px;
padding: 6px 10px;
background: #424242;
border-radius: 20px;
}

/* 項目名を太字にする */
form p {
font-weight: 600;
}

/* 入力項目を見やすくする */
input.wpcf7-form-control.wpcf7-text,
textarea.wpcf7-form-control.wpcf7-textarea {
width: 100%;
padding: 8px 15px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 20px;
border: 1px solid #d0d5d8;
border-radius: 3px;
}
textarea.wpcf7-form-control.wpcf7-textarea {
height: 200px;
}

/* 必須項目の入力欄を黄色にする */
input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
background-color: #ffe6e7;
}

/* 送信ボタンを見やすくする */
input.wpcf7-submit {
width: 100%;
height: 80px;
background: #a5854a;
color: #fff;
font-size: 20px;
font-weight: 600;
border: none;
}

/* エラーメッセージを見やすくする */
span.wpcf7-not-valid-tip,
.wpcf7-response-output.wpcf7-validation-errors {
color: red;
font-weight: 600;
}

.wpcf7 {
width: 500px;
margin: 0 auto!important;
}

.wpcf7-not-valid-tip {
margin-top: -10px;
margin-bottom: 20px;
}

.wpcf7-response-output {
margin: 0!important;
padding: 0!important;
border: none!important;
}

.contact-note {
color: #f2545b;
}

@media screen and (max-width: 767px) {
.wpcf7 {
margin: 120px auto 0!important;
width: 80%;
}

.wpcf7-response-output {
margin: 0 0 20px 0!important;
}
}